.title {
    text-align: center;
    font-size: 40px;
}
.bookkeeper {
    font-family: monospace;
    margin-left: 50px;
    margin-right: 50px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    min-height:600px;
}